<%- include('partials/_header') -%>
<body>
  <!-- NAV -->
  <%- include('partials/_navigation') -%>

  <!-- CONTAINER -->

  <div class="container">
    <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
      <% for(let i = 0; i < photos.length; i++) { %>
      <div class="fh5co-project masonry-brick">
        <a href="/photos/<%= photos[i]._id %>">
          <img class="img-fluid" src="<%= photos[i].image %>" alt="Free HTML5 by FreeHTML5.co">
          <h2> <%= photos[i].title %> </h2>
        </a>
        <span> <%= photos[i].createdAt %> </span>
      </div>
      <% } %>
    </div>
    <div>
      <% if(photos.length>0) { %>
      <ul class="pagination">
        <% for(let i=1; i <= pages; i++) { %>
          <% if(i === current) { %>
            <li class="page-item active">
              <a class="page-link " href="/?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } else if(i < pages) { %>
              <li class="page-item">
                <a class="page-link" href="/?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/?page=<%= i %>">
                  <%= pages %>
                </a>
              </li>
            <% } %>
        <% } %>
      </ul>
      <% } %>
    </div>
  </div>
  

  <!-- FOOTER -->
  <%- include('partials/_footer') -%>
</body>
</html>