<%- include('partials/_header') -%>
<body>
  <!-- NAV -->
  <%- include('partials/_navigation') -%>

  <!-- CONTAINER -->

  <div class="container-fluid pt70 pb70">
    <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
      <% for(let i = 0; i < photos.length; i++) { %>
      <div class="fh5co-project masonry-brick">
        <a href="/photos/<%= photos[i]._id %>">
          <img class="img-fluid" src="<%= photos[i].image %>" alt="Free HTML5 by FreeHTML5.co">
          <h2> <%= photos[i].title %> </h2>
        </a>
        <span> <%= photos[i].createdAt %> </span>
      </div>
      <% } %>
    </div>
  </div>

  <!-- FOOTER -->
  <%- include('partials/_footer') -%>
</body>
</html>